# fly.toml app configuration file generated for nba-stat-spot-api
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "nba-stat-spot-api"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile.backend"

[env]
  CORS_ORIGINS = "https://mitchelldawkinsjr.github.io,http://localhost:5173"
  DATABASE_URL = "sqlite:///./nba_props.db"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

